@model IEnumerable<Assignment1.Models.Game>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Game Library";
}

<link rel="stylesheet" href="~/css/materialize.min.css" />
<div class="row">
	<div class="col-lg-1"></div>

	<div class="col-sm-6 col-lg-4 grey lighten-2 panel-body text-center">
		<h5>@Assignment1.Models.GameLibrary.LibrarySize Games in Library</h5>
	</div>

	<div class="col-lg-2"></div>

	<div class="col-sm-6 col-lg-4 grey lighten-2 panel-body text-center">
		<h5>@Assignment1.Models.GameLibrary.TotalEarnedAchievements of @Assignment1.Models.GameLibrary.TotalAchievements Achievements</h5>
	</div>

	<div class="col-lg-1"></div>
</div>
						
<div class="row">
	@foreach (Assignment1.Models.Game game in Model)
	{
		<div class="col-sm-6 col-md-3 col-lg-3 panel-body">
			<div class="@game.DisplayColor text-center">
				<p><b>@game.Name</b><br />@game.Genre</p>
				<img src="~/images/google-controller.svg" class="img-circle grey" alt="generic gaming icon." style="width:50%; height:50%;"/> <!--Ew, inline styling. Temporary for placeholder icon.-->
				<p>@game.Status<br/><i>@game.AchievementProgress</i></p>
			</div>
			<div class="clearfix visible-sm-block"></div>
		</div>
	}
</div>

<!-- <div class="clearfix visible-sm-block"></div> -->