@model IEnumerable<Assignment1.Models.Game>
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>CS4790 - Assignment 1</title>
		<!-- CSS: Using Materialize for colors, using Bootstrap for organizing. -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/assignment1-style.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center">
					<h3>Kole Frazier's Game Library</h3>
					<h5>CS4790 Assignment 1</h5>
					<hr />
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 center-block grey lighten-1" id="sidecontainer">
					<div class="text-center"><h4>Navigation</h4></div>
					<ul class="list-unstyled text-center">
						<li><a asp-action="Index" class="panel btn-block">View Library</a></li>
						<li><a asp-action="ShowTable" class="panel btn-block">View Simple List</a></li>
						<li><a asp-action="AddGame" class="panel btn-block">Add Game</a></li>
						<li></li>
					</ul>
				</div>
				
				<div class="col-sm-10">
					<div class="row">
						<div class="col-lg-1"></div>

						<div class="col-sm-6 col-lg-4 grey lighten-2 panel-body text-center">
							<h4>@Assignment1.Models.GameLibrary.LibrarySize Games in Library</h4>
						</div>

						<div class="col-lg-2"></div>

						<div class="col-sm-6 col-lg-4 grey lighten-2 panel-body text-center">
							<h4>@Assignment1.Models.GameLibrary.TotalEarnedAchievements of @Assignment1.Models.GameLibrary.TotalAchievements Achievements</h4>
						</div>

						<div class="col-lg-1"></div>
					</div>
						
					<div class="row">
						@foreach (Assignment1.Models.Game game in Model)
						{
							<div class="col-sm-12 col-md-6 col-lg-3 panel-body">
								<div class="@game.DisplayColor text-center">
									<p><b>@game.Name</b><br />@game.Genre</p>
									<img src="~/images/google-controller.svg" class="img-circle grey" alt="generic gaming icon." style="width:50%; height:50%;"/> <!--Ew, inline styling. Temporary for placeholder icon.-->
									<p>@game.Status<br/><i>@game.AchievementProgress</i></p>
								</div>
							</div>
						}
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center text-muted">
					<p>Created by Kole Frazier for CS4790 Assignment 1.</p>
					<p>github.com/kolefrazier</p>
					<p>Controller icon (google-controller) credit materialdesignicons.com</p>
				</div>
			</div>

		</div>
	</body>
</html>