@model IEnumerable<Assignment1.Models.Game>
@{ 
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Table View";
}

<link rel="stylesheet" href="~/css/materialize.min.css" />
<div class="row">
	<div class="text-center headertext"><h4>Library in Table Form</h4></div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Genre)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AchievementsEarned)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.AchievementsTotal)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Status)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(GameEntry => game.Name)
					</td>
					<td>
						@Html.DisplayFor(GameEntry => game.Genre)
					</td>
					<td>
						@Html.DisplayFor(GameEntry => game.AchievementsEarned)
					</td>
					<td>
						@Html.DisplayFor(GameEntry => game.AchievementsTotal)
					</td>
					<td>
						@Html.DisplayFor(GameEntry => game.Status)
					</td>
				</tr>

			}
		</tbody>
	</table>
</div>